:root{
    --color-principal-: #655ec9;
}

.maininterno{
    display: flex;
}
section{
    width: 50vw;
    margin-top: 3vh;
    margin-left: 2vw;
}
section>h1{
    text-align: center;
    animation-duration: 5s;
    animation: cambiarColor 3s forwards;
}

@keyframes cambiarColor {
    0% { color: var(--color-principal-); }
    100% { color: #ffffff; }
}

div{
    margin-top: 3vh;
}
article{
    display: flex;
    height: 15vh;
    width: 48vw;
    border-bottom: 1px solid var(--color-principal-);
    border-top: 1px solid var(--color-principal-);
}
.futuro>aside>h3{
    width: 20vw;
    margin-top: 2vh;
    margin-left: 2vw;
    color: var(--color-principal-);
}

.futuro>aside>p{
    width: 20vw;
    margin-top: 1vh;
    margin-left: 2vw;
}

.futuro>aside>p:hover{
    color: var(--color-principal-);
}

.futuro>a>img{
    width: 1.5vw;
    height: 3vh;
    margin-top: 5.5vh;
    margin-left: 2vw;
    filter: invert(1); 
    align-items: center;
    justify-content: center;
}
.futuro>a>img:hover{
    transform: rotate(-45deg);
}
.botonestilo{
    background-color: var(--color-principal-);
    color: white;
    width: 10vw;
    margin: 4vh;
    border-radius: 5px;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;

}
    
.botonestilo:hover{
    background-color: #262266;
    color: black;
    border-radius: 5px;
    text-decoration: none;
}

.pasado>aside>h3{
    width: 30vw;
    margin-top: 2vh;
    margin-left: 2vw;
    color: var(--color-principal-);
}

.pasado>aside>p{
    width: 20vw;
    margin-top: 1vh;
    margin-left: 2vw;
}

.pasado>aside>p:hover{
    color: var(--color-principal-);
}

@media (max-width: 768px) {
    .maininterno {
        flex-direction: column; /* Cambiar a columna para pantallas pequeñas */
    }

    section {
        width: 90vw; /* Ajustar el ancho para pantallas pequeñas */
        margin-left: 5vw; /* Ajustar margen para pantallas pequeñas */
    }

    article {
        flex-direction: column; /* Cambiar a columna para pantallas pequeñas */
        width: 90vw; /* Ajustar el ancho para pantallas pequeñas */
    }

    .futuro > aside > h3,
    .pasado > aside > h3 {
        width: 100%; /* Ajustar ancho para pantallas pequeñas */
        margin-left: 0; /* Eliminar margen izquierdo para pantallas pequeñas */
    }

    .futuro > aside > p,
    .pasado > aside > p {
        width: 100%; /* Ajustar ancho para pantallas pequeñas */
        margin-left: 0; /* Eliminar margen izquierdo para pantallas pequeñas */
    }

    .futuro > a > img {
        width: 50%; /* Ajustar el tamaño de la imagen para pantallas pequeñas */
        height: auto; /* Mantener la proporción de la imagen */
        margin-left: 0; /* Eliminar margen izquierdo para pantallas pequeñas */
    }

    .botonestilo {
        width: 80%; /* Ajustar el ancho del botón para pantallas pequeñas */
        margin: 4vh auto; /* Centrar el botón */
    }
}