/* Variables de color para el sitio */
:root{
    --color-principal-: #655ec9;
}

/* Estilo de la sección principal interna */
.maininterno{
    display: flex;
}

/* Estilo de las secciones generales */
section{
    width: 50vw;
    margin-top: 3vh;
    margin-left: 2vw;
}

section>h1{
    text-align: center;
    animation-duration: 5s;
    animation: cambiarColor 3s forwards;
}

/* Animación de cambio de color del texto */
@keyframes cambiarColor {
    0% { color: var(--color-principal-); }
    100% { color: #ffffff; }
}

/* Margen superior para los contenedores div */
div{
    margin-top: 3vh;
}

/* Estilo de los artículos */
article{
    display: flex;
    height: 15vh;
    width: 48vw;
    border-bottom: 1px solid var(--color-principal-);
    border-top: 1px solid var(--color-principal-);
}

/* Estilo de los títulos y párrafos en la sección de eventos futuros */
.futuro>aside>h3{
    width: 20vw;
    margin-top: 2vh;
    margin-left: 2vw;
    color: var(--color-principal-);
}

.futuro>aside>p{
    width: 20vw;
    margin-top: 1vh;
    margin-left: 2vw;
}

.futuro>aside>p:hover{
    color: var(--color-principal-);
}

/* Estilo de los enlaces de eventos futuros */
.futuro>a>img{
    width: 1.5vw;
    height: 3vh;
    margin-top: 5.5vh;
    margin-left: 2vw;
    filter: invert(1); 
    align-items: center;
    justify-content: center;
}

.futuro>a>img:hover{
    transform: rotate(-45deg);
}

/* Estilo de los botones */
.botonestilo{
    background-color: var(--color-principal-);
    color: white;
    width: 10vw;
    margin: 4vh;
    border-radius: 5px;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
}
    
.botonestilo:hover{
    background-color: #262266;
    color: black;
    border-radius: 5px;
    text-decoration: none;
}

/* Estilo de los títulos y párrafos en la sección de eventos pasados */
.pasado>aside>h3{
    width: 30vw;
    margin-top: 2vh;
    margin-left: 2vw;
    color: var(--color-principal-);
}

.pasado>aside>p{
    width: 20vw;
    margin-top: 1vh;
    margin-left: 2vw;
}

.pasado>aside>p:hover{
    color: var(--color-principal-);
}


/* RESPONSIVE */
/* Para móvil */
@media (max-width: 768px) {
    /* Indicamos estilo del main */
    main{
        width: 97.97%;
        height: 100%;
    }
    
    /* Indicamos estilo del main  interno*/
    .maininterno {
        flex-direction: column;
        align-items: center;
        padding: 0 2vw;
    }

    /* Indicamos estilo de las secciones*/
    section {
        width: 90%;
    }

    /* Indicamos estilo de los artículos */
    article {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Indicamos estilo del apartado de futuro */
    .futuro>a>img {
        width: 3.5vw;
        height: 3.2vh;
        margin-top: 0vh;
    }

    /* Indicamos estilo de los botones */
    .botonestilo {
        width: 30%;
        text-align: center;
        height: 5vh;
    }
}

/* Para tablet */
@media screen and (min-width : 768px) and (max-width : 1200px){
    /* Indicamos estilo del botón */
    .botonestilo {
        font-size: 16px;
        text-align: center;
    }

    /* Indicamos estilo del apartado de futuro */
    .futuro>a>img {
        width: 2vw;
        height: 3vh;
    }
}

