/* Variables CSS */
:root{
  --color-principal-: #655ec9;
}

/* Diseño general del main interno */
.maininterno{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/* Diseño de la letra del formulario */
label{
  font-size: 20px;
}

/* Diseño de la parte de arriba del main interno */
.partearriba{
  width: 100vw;
  border-radius: 25px;
  margin-top: 2vw;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 35.25vh;
}

.partearriba>section{
  display: flex;
  justify-items: center;
  align-items: center;
}

.partearriba>section>article{
  width: 25vw;
}

.partearriba>section>article>input{
  margin-top: 0.5vh;
  width: 15vw;
  text-align: center;
  color:var(--color-principal-);
  height: 2vh;
  border: 0px;
  border-bottom: 2px solid var(--color-principal-);
  color: var(--color-principal-);
  background-color: black;
  margin-top: 1.5vw;
  font-size: 16px;
}

.partearriba>section>article>label{
  font-size: 1.05rem;
}

/* Diseño de la parte de abajo del main interno */
.parteabajo>article{
  border-radius: 25px;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.parteabajo>article>textarea{
  margin-top: 1vh;
  font-size: 16px;
  color:var(--color-principal-);
}

/* Diseño de los botones */
.boton{
  background-color: var(--color-principal-);
  color: white;
  width: 10vw;
  height: 4vh;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.boton:hover{
  background-color: #262266;
  color: black;
  border-radius: 5px;
}

/* Estilos responsive */
@media (max-width: 768px) {
  /* Ajustes para dispositivos móviles y tablets */
  main{
    width: 100%;
    height: 100vh;
  }

  header{
    width: 100%;
  }

  nav{
    width: 100%;
  }

  .partearriba {
    width: 100%;
  }

  .partearriba>section{
    flex-direction: column;
  }
  
  .partearriba>section>article {
    width: 100%;
  }

  .partearriba>section>article>input {
    width: 50%;
  }

  .parteabajo {
    margin-top: 3vh;
  }

  .parteabajo>article>textarea {
    width: 80%;
  }

  .boton {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  /* Ajustes para dispositivos móviles y tablets */
  main{
    width: 100%;
    height: 100vh;
  }

  header{
    width: 100%;
  }

  nav{
    width: 100%;
  }

  .partearriba {
    width: 100%;
  }

  .partearriba>section{
    flex-direction: column;
  }
  
  .partearriba>section>article {
    width: 100%;
  }

  .partearriba>section>article>input {
    width: 50%;
  }

  .parteabajo {
    margin-top: 12vh;
  }

  .parteabajo>article>textarea {
    width: 80%;
  }

  .boton {
    width: 80%;
  }
}