:root{
    --color-principal: #655ec965; /* Púrpura más oscuro y alternativo */
    --color-texto: #fff; /* Texto claro */
    --color-hover: #655ec9; /* Hover más llamativo */
}
body{
    background-color: black;
}

main{
    width: 99.3vw;
}
header{
    width: 99.3vw;
}
nav{
    width: 99.3vw;
}
.maininterno {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 99%;
    margin-top: 2vh;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    border-radius: 15px;
    padding: 1.5vw;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 62vh;
}

article:hover {
    transform: scale(1.05);
    background-color: var(--color-principal);
    box-shadow: 0 8px 16px rgb(255, 255, 255);
}

article>img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 2vh;
}

.arriba>aside>h3 {
    color: var(--color-hover);
    font-size: 1.5rem;
    text-align: center;
}

.arriba>aside>p {
    text-align: center;
    font-size: 1rem;
    margin-top: 8px;
}

.arriba>aside>p:hover {
    color: var(--color-hover);
}