/* Variables CSS para definir colores reutilizables */
:root{
    --color-principal: #655ec965;
    --color-texto: #fff; 
    --color-hover: #655ec9; 
}

/* Estilo general del cuerpo: Establece un fondo negro para toda la página */
body{
    background-color: black;
}

/* Configuración del main */
main{
    width: 99.3vw;
    height: 76vh;
}

/* Configuración del header para que ocupe casi toda la anchura */
header{
    width: 100vw;
}

/* Configuración de la barra de navegación para que ocupe casi toda la anchura */
nav{
    width: 100vw;
}

/* Utiliza flexbox para alinear elementos en una columna centrada con un pequeño margen superior */
.maininterno {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

/* Usa flexbox para distribuir uniformemente los artículos, permitiendo que se envuelvan si es necesario */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 99%;
    margin-top: 2vh;
}

/* Configura el diseño flexible, el estilo de las sombras, bordes redondeados y las transiciones suaves */
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    border-radius: 15px;
    padding: 1.5vw;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 64vh;
}

/* Efecto hover para artículos: Aumenta el tamaño, cambia el fondo y ajusta la sombra al pasar el ratón */
article:hover {
    transform: scale(1.05);
    background-color: var(--color-principal);
    box-shadow: 0 8px 16px rgb(255, 255, 255);
}

/* Estilo de las imágenes dentro de los artículos */
article>img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 2vh;
}

/* Estilo de los títulos en el lateral superior */
.arriba>aside>h3 {
    color: var(--color-hover);
    font-size: 1.5rem;
    text-align: center;
}

/* Estilo de los párrafos en el lateral superior */
.arriba>aside>p {
    text-align: center;
    font-size: 1rem;
    margin-top: 8px;
}

/* Cambia el color del texto al pasar el ratón */
.arriba>aside>p:hover {
    color: var(--color-hover);
}

/* Estilos responsivos dependiendo del tamaño de la pantalla */
@media (max-width : 400px){
    /* Ajustamos los artículos */
    article {
        width: 60vw;
        border-radius: 15px;
        padding: 1.5vw;
        box-shadow: 0 4px 12px rgba(255, 255, 255, 0.4);
        transition: transform 0.3s, box-shadow 0.3s;
        height: 65vh;
        margin-bottom: 2vh;
    }
}

@media (min-width : 400px) and (max-width : 570px){
    /* Ajustamos los artículos */
    article {
        width: 60vw;
        border-radius: 15px;
        padding: 1.5vw;
        box-shadow: 0 4px 12px rgba(255, 255, 255, 0.4);
        transition: transform 0.3s, box-shadow 0.3s;
        height: 50vh;
        margin-bottom: 2vh;
    }
}

@media screen and (min-width : 570px) and (max-width : 768px) {
    /* Ajustamos las imágenes */
    article>img {
        width: 60%;
    }
}

@media (max-width: 768px) {
    /* Ajustamos el main */
    main{
        width: 98%;
        height: 100%;
    }
    
    /* Ajustamos el header */
    header{
        width: 100%;
    }

    /* Ajustamos el nav */
    nav{
        width: 100%;
    }

    /* Ajustamos las secciones para que estas sean columnas */
    section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    /* Ajustamos cada artículo */
    article {
        width: 60vw;
        border-radius: 15px;
        padding: 1.5vw;
        box-shadow: 0 4px 12px rgba(255, 255, 255, 0.4);
        transition: transform 0.3s, box-shadow 0.3s;
        height: 45vh;
        margin-bottom: 2vh;
    }

    article>img {
        max-width: 38%;
    }
}

@media screen and (min-width : 768px) and (max-width : 1200px) {
    /* Ajustamos el main */
    main{
        width: 98%;
        height: 100%;
    }
    
    /* Ajustamos el header */
    header{
        width: 100%;
    }
    
    /* Ajustamos el nav */
    nav{
        width: 100%;
    }
    
    /* Ajustamos las secciones */
    section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    /* Ajustamos los artículos */
    article {
        width: 60vw;
        border-radius: 15px;
        padding: 1.5vw;
        box-shadow: 0 4px 12px rgba(255, 255, 255, 0.4);
        transition: transform 0.3s, box-shadow 0.3s;
        height: 40vh;
        margin-bottom: 2vh;
    }

    article>img {
        max-width: 25%;
        height: 45%;
    }
}