/* Variables CSS */
:root{
    --color-principal-: #655ec9;
  }
  
  /* Diseño general del main interno */
  .maininterno{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  
  /* Diseño de la letra del formulario */
  article>form>label{
    font-size: 20px;
  }
  
  /* Diseño de la parte de arriba del main interno */
  .partearriba{
    display: flex;
    width: 80vw;
    height: auto;
    flex-direction: column;
  }
  
  .partearriba>article{
    width: 100%;
    border-radius: 25px;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  
  .partearriba>article>section>article>input,
  .partearriba>article>section>article>select{
    margin-top: 0.5vh;
    width: 100%;
    max-width: 300px;
    text-align: center;
    color: var(--color-principal-);
    height: 2.5vh;
    border: 0px;
    border-bottom: 2px solid var(--color-principal-);
    background-color: black;
    font-size: 16px;
  }
  
  .partearriba>article>section>article>label{
    font-size: 20px;
  }
  
  .partearriba>article>section>article{
    width: 100%;
    margin-top: 10px;
  }
  
  .partearriba>article>section{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .partearriba>article{
    text-align: center;
    width: 100%;
  }
  
  /* Diseño de la parte de abajo del main interno */
  .parteabajo>article{
    border-radius: 25px;
    margin-top: 2vw;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  
  .parteabajo>article>textarea{
    margin-top: 1vh;
    font-size: 16px;
    color: var(--color-principal-);
    width: 80%;
    height: 120px;
    padding: 10px;
  }
  
  /* Diseño de los botones */
  .boton{
    background-color: var(--color-principal-);
    color: white;
    width: 10vw;
    height: 4vh;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .boton:hover{
    background-color: #262266;
    color: black;
  }
  
  /* Diseño de cada tipo de recopilación de datos */
  .datospersonales{
    margin: 1vw;
  }
  
  .aficiones{
    margin: 1.5vw;
  }
  
  .preguntas{
    margin: 1vw;
  }
  
  .sugerencias{
    margin: 1.5vw;
  }
  
  /* Estilos responsive */
  @media (max-width: 1200px) {
    main{
      width: 100%;
    }
  
    header{
      width: 100%;
    }
  
    nav{
      width: 100%;
    }
  
    .partearriba>article>form>section>article>input {
      width: 80%;
    }
  
    .partearriba>article>form>section>article {
      width: 80%;
    }
  
    .partearriba>article {
      width: 90%;
    }
  
    .parteabajo>article>textarea {
      width: 80%;
    }
  
    .boton {
      width: 80%;
    }
  
    /* Ajusta el texto de los labels */
    article>form>label {
      font-size: 18px;
    }
  }
  