*{
    margin: 0;
    padding: 0;
    font-family: "Squada One", serif;
    font-weight: 400;
    font-style: normal;
    color:white;
}
:root{
    --color-principal-: #655ec9;
}

header{
    height: 10vh;
    background-color: rgb(32, 0, 72);
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    z-index: 1;
}
header>img{ 
    height: auto;
    width: 15vw;
}

nav{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 5vh;
    background-color: rgb(5, 5, 5);
    overflow-x: auto;
    white-space: nowrap;
    z-index: 1;
    width: 100vw;
}
nav>p{
    width: 8vw;
    flex-shrink: 0;
}
nav>p>a{
    color: inherit;
    text-decoration: inherit;
}

nav>p>a:hover{
    color: var(--color-principal-);
    text-decoration: underline;
}
main{
    width: 100vw;
    height: 78vh;
    background-color: black;
}
footer{
    background-color: rgb(17, 17, 17);
    height: 7vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
footer>p{
    color: rgb(67, 67, 67);
}

html {
    scrollbar-width: thin; 
    scrollbar-color: #d8d8d8 #2f0056; 
}

@media screen and (max-width : 768px){
    header>img{ 
        height: auto;
        width: 35vw;
    }
    nav{
        align-items: center;
        display: flex;
        justify-content: center;
        height: 6vh;
        justify-content: flex-start;
        background-color: rgb(5, 5, 5);
    }
    nav>p{
        width: auto;
        font-size: 1em; 
        padding: 0 30px;
    }
    nav>p>a{
        color: inherit;
        text-decoration: inherit;
    }
}

@media screen and (min-width : 768px) and (max-width : 1200px){
    header>img{ 
        height: auto;
        width: 25vw;
    }
    nav{
        align-items: center;
        display: flex;
        justify-content: center;
        height: 5vh;
        background-color: rgb(5, 5, 5);
    }
    nav>p{
        width: auto;
        font-size: 1em; 
        padding: 0 30px;
    }
    nav>p>a{
        color: inherit;
        text-decoration: inherit;
    }
}