/* Estilo global */
*{
    margin: 0;
    padding: 0;
    font-family: "Squada One", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

/* Variables de color */
:root{
    --color-principal-: #655ec9;
}

/* Estilo del encabezado */
header{
    height: 10vh;
    background-color: rgb(32, 0, 72);
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    z-index: 1;
}

header>img{ 
    height: auto;
    width: 15vw;
}

/* Estilo de la navegación */
nav{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 5vh;
    background-color: rgb(5, 5, 5);
    overflow-x: auto;
    white-space: nowrap;
    z-index: 1;
    width: 100vw;
}

nav>p{
    width: 8vw;
    font-size: 1rem; 
    padding: 0 2vw;
}

nav>p>a{
    color: inherit;
    text-decoration: inherit;
}

/* Indicamos el estilo del texto de la navegación al pasar el ratón por encima */
nav>p>a:hover{
    color: var(--color-principal-);
    text-decoration: underline;
}

/* Estilo del contenido principal */
main{
    width: 100vw;
    height: 78vh;
    background-color: black;
}

/* Estilo del pie de página */
footer{
    background-color: rgb(17, 17, 17);
    height: 7vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
footer>p{
    color: rgb(67, 67, 67);
}

/* Estilos de la barra de desplazamiento del navegador*/
html {
    scrollbar-width: thin; 
    scrollbar-color: #d8d8d8 #2f0056; 
}

/* Estilos responsivos para pantallas de menos de 768px */
@media screen and (max-width : 768px){
    /* Cambiamos el header */
    header{
        width: 100%;
    }
    header>img{ 
        height: auto;
        width: 35vw;
    }
    /* Cambiamos la navegación y hacemos que esta se pueda mover*/
    nav{
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 6vh;
        justify-content: flex-start;
        background-color: rgb(5, 5, 5);
    }
    nav>p{
        width: auto;
        font-size: 1em; 
        padding: 0 30px;
    }
    nav>p>a{
        color: inherit;
        text-decoration: inherit;
    }
}

